@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://najlabh.github.io/">NajlaBH</a> projects.</p>
    <p  class="home-note">This is just a "demo", .NET MVC web application skeleton supporting docker.</p>
</div>
